* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
  font-family: sans-serif;
  /* font-family: monospace; */
}
.container {
  /* min-height: 90vh; */
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .container .box {
    width: 100%;
  }
}
/* main class name */
.gm-btn {
  background: none;
  border: none;
  padding: 5px 15px;
  font-size: 16px;
  line-height: 24px;
  width: 400;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  outline: none;
}
.gb-cutter::before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: 0.5s;
}
/* cutter */

.gb-cutter {
  border: 2px solid var(--gb-51);
  border-radius: 5px;
  box-shadow: 3px 3px 0 var(--gb-51);
  font-size: 1.125rem;
  font-weight: 700;
  overflow: hidden;
  color: var(--gb-51);
}
.gb-cutter::before {
  top: 100%;
  left: 0;
  width: 150%;
  aspect-ratio: 1;
  background: var(--gb-51);
  transform: translate(50%, 0%) rotateZ(-45deg);
}
.gb-cutter:hover::before {
  transform: translate(-20%, -60%) rotateZ(-45deg);
}
.gb-cutter:hover {
  box-shadow: 0 0 0;
  color: #eee;
}
:root {
  --gb-51: #111827;
  --gb-52: #2196f3;
  --gb-52d: #0e71c1;
}
